*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
}

.app>* {
    flex: 1 1 auto;
}

.top_header {
    background: #3C3A39;
    padding: 1.4rem;
}

.top_header li {
    list-style: none;
}

.top_header a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.top_header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline {
    background: #1C1A19;
    padding: 2rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    flex-wrap: wrap;


}

.headline h1 {
    font-family: 'Crete Round', 'cursive';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    color: #FF6B00;
    line-height: 55px;
    letter-spacing: 0.3rem;
    margin-bottom: 0.5rem;
}

.headline h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: #FFF5E1;
    margin-bottom: 0.5rem;
}

.headline p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

.icons i {
    color: #ffffff;
    margin-top: 1.2rem;
    margin-right: 0.8rem;
    font-size: 20px;
}
