*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
}

.app > * {
  flex: 1 1 auto;
}

.top_header {
  background: #3c3a39;
  padding: 1.4rem;
}

.top_header nav a {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.top_header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline {
  background: #1c1a19;
  padding: 2rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  flex-wrap: wrap;
}

.headline h1 {
  font-family: 'Crete Round', 'cursive', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  color: #ff6b00;
  line-height: 55px;
  letter-spacing: 0.3rem;
  margin-bottom: 0.5rem;
}

.headline h2 {
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  color: #fff5e1;
  margin-bottom: 0.5rem;
}

.headline p {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.icons {
  display: flex;
  align-items: center;
}

.icons li {
  margin-top: 1.2rem;
  margin-right: 0.8rem;
  list-style: none;
}
